  /* REMOVE MEGABAR START
 * VERSION 1.0.7
 * CODE AT: http://userchrome.wesleybranton.com/megabar
 * RELEASE NOTES: http://userchrome.wesleybranton.com/notes/megabar */
@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {
				   
    /* DISABLE EXPANDING START */
    #urlbar[breakout][breakout-extend] {
        top: calc(var(--urlbar-container-height) * 2 - var(--urlbar-height)) !important;
        width: var(--urlbar-width) !important;
        position: relative !important;
        margin: 0 !important;
    }
    
    #urlbar[breakout][breakout-extend] > #urlbar-input-container,
    #urlbar[breakout][breakout-extend] > .urlbar-input-container {
        height: var(--urlbar-height) !important;
        padding-block: 0 !important;
        padding-inline: var(--urlbar-container-padding) !important;
    }
    
    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation-name: none !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
    }
    /* DISABLE EXPANDING END */
    
    /* REMOVE URL RESULT PADDING START */
    .urlbarView {
        margin-inline: 0 !important;
        width: 100% !important;
    }

    .urlbarView-row {
        padding-block: 0 !important;
    }
    /* REMOVE URL RESULT PADDING END */
	
	navigator-toolbox, #TabsToolbar {
    --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 28px) / 2) !important;
}

/* Bookmarkbar less compact */
#PersonalToolbar .toolbarbutton-1, toolbarbutton.bookmark-item:not(.subviewbutton){
    border-radius: 100px !important;
    padding: 7px 8px !important;
    margin: 0 0 4px 0 !important;
}
    
    /* MOVE URL RESULT TYPE ICON TO LEFT START */
    .urlbarView-type-icon {
        min-width: 16px !important;
        height: 16px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-inline-start: 0 !important;
    }
    
    .urlbarView-favicon {
        margin-inline-start: 20px !important;
    }
    /* MOVE URL RESULT TYPE ICON TO LEFT END */

    /* DISPLAY GO BUTTON WHEN TYPING START */
    #urlbar-input-container[pageproxystate="invalid"] #urlbar-go-button {
        display: block !important;
    }
    /* DISPLAY GO BUTTON WHEN TYPING END */

    /* ALWAYS SHOW PAGE ACTIONS START */
    /* DISABLED BY DEFAULT - UNCOMMENT TO ENABLE */
    /*#pageActionButton {
        display: block !important;
        visibility: visible !important;
    }*/
    /* ALWAYS SHOW PAGE ACTIONS END */
}
/* REMOVE MEGABAR END */

/* Remove Firefox View */
#firefox-view-button {
  display: none !important;
}

/* Remove sound Icon, keep Favicon */
.tab-icon-image{ opacity: 1 !important; }
.tab-icon-overlay{ display: none }

/* Remove the Bookmark Star Icon */
#star-button-box {
opacity: 0 !important;
max-width: .1px !important;
padding: 0px !important;
}

/* get rid of the PLAYING, MUTED, etc. labels on audio tabs */
.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
    display: none !important;
}

/* Start proton tab modes */
/* Remove space to left of toolbar  */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}

/* Apply dimmed background for inactive tabs */
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected=true], [multiselected]) {
    background-color: color-mix(in srgb, currentColor 12%, transparent);
}

.tabbrowser-tab>.tab-stack>.tab-background:not([selected=true], [multiselected]) {
    background-color: color-mix(in srgb, currentColor 6%, transparent);
}

/* Hide tab close button */
#TabsToolbar .close-icon {
    display: none !important;
} 

/* Unhide the tab close button on hover when it is the selected tab and not pinned */
#TabsToolbar .tabbrowser-tab:hover .close-icon {
    display: inline-block !important;
}

/* Reduce spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: initial !important; }

/* End Proton Tab Mods

/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
    --lwt-user-tab-rounding: 8px;
}
@media (-moz-proton) { 
    .tab-background {
        border-radius: var(--user-tab-rounding) !important;
    }
}

/* Inactive tabs: Outline style */

@media (-moz-proton) {
    .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
        border: 1px solid rgba(0, 0, 0, .20) !important;
    }
    /* For dark backgrounds */
    [brighttext="true"] .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
        border: 1px solid var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20)) !important;
    }
    /* Remove extra padding between tabs */
    .tabbrowser-tab:not(:first-of-type) {
        padding-left: 0 !important;
    }
}

/* Tweak Options as of 6/05/2021; Generated Wed Jun 09 2021 08:46:26 GMT-0700 (Pacific Daylight Time) */

/*** Tighten up drop-down/context/popup menu spacing ***/

menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 6px 8px !important;
}
#tracking-protection-icon-container {display: none !important;}

:root {
  --focus-outline-color: transparent !important;
}

.tabbrowser-tab{
  padding-inline: 1.5px !important;
}

#main-menubar > menu[_moz-menuactive="true"] {
  background-color: rgba(0,0,0,0.1) !important;
}
/*new urlbar note: #urlbar-input-container changed to .urlbar-input-container */
.urlbar-input-container { background-color: #fff !important; border: 1px solid hsla(240,5%,5%,.25) !important;}

/* disable display for one off searches */
#urlbar .search-one-offs { display:none !important;}

#alltabs-button {
    display: none !important;
}

/* addons jgsaw shit */
#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator
{
  display: none !important;
}
#unified-extensions-button .toolbarbutton-icon {
  list-style-image: url("chrome://global/skin/icons/chevron.svg") !important;
}
/* Translate */
#pageAction-urlbar-_036a55b4-5e72-4d05-a06c-cba2dfcc134a_{
display: none !important;
}
/* Remove shadow and border from urlbar */

#urlbar-background, #searchbar { border: none !important }

#urlbar-background, #searchbar { box-shadow: none !important }

.tabbrowser-tab:not([pinned]){ margin-inline-start: 0 !important }

}
